{% assign lang = page.collection %} {% assign col = site.collections | where: "label", lang | first %} {% assign items = col.docs %} {%assign catGroup = items | group_by:'category' %} {% for cat in catGroup %}
<section class="container">
    <h3>{{cat.name}}</h3>
    {% assign articles = cat.items %}
    <div class="d-flex flex-row flex-wrap align-self-stretch">
        {% for article in articles %}
        <div class="col-lg-4">
            {%- if article.category -%}


            <div class="card shadow">
                {% if article.gallery == empty %} <img class="card-img-top" src="{{page.gallery[0]}}" alt="{{page.title}}"> {% else %}
                <img class="card-img-top" src="{{article.gallery[0]}}" alt="{{page.title}}"> {% endif %}
                <div class="card-body">
                    <h4 class="card-title"><a href="{{ article.url }}">{{ article.title }}</a></h4>
                    <p class="card-text">{{ article.excerpt | strip_html | truncate: 150, " ..." }}</p>
                    <a class="btn btn-warning float-right" href="{{ article.url }}">Vai</a>
                </div>
            </div>
            {%- endif -%}
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}