<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Richiedi Informazioni</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Chiama il +39.329.828.3277 | +39.331.58.43.320 oppure compila il form.</p>
                <form data-parsley-validate id="contact-btn-form" method="POST" name="Richiesta Info" data-netlify="true" data-netlify-recaptcha="true">
                    <div class="form-group">
                        <label for="EmailAddress">Email</label>
                        <input type="email" class="form-control" id="EmailAddress" aria-describedby="emailHelp" placeholder="Email"> </div>
                    <div class="form-group">
                        <label for="NameLabel">Nome</label>
                        <input required type="text" class="form-control" id="NameLabel" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="SurnameLabel">Cognome</label>
                        <input required type="text" class="form-control" id="SurnameLabel" placeholder="Cognome">
                    </div>
                    <div class="form-group">
                        <label for="PhoneLabel">Telefono</label>
                        <input required type="number" data-parsley-type="integer" class="form-control" id="PhoneLabel" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <label for="messaggio">Messaggio</label>
                        <textarea class="form-control" id="messaggio" rows="3"></textarea>
                    </div>
                    <div class="form-group" data-netlify-recaptcha="true"></div>
                    <div class="form-check">
                        <input required type="checkbox" class="form-check-input" id="privacyCheck">
                        <label class="form-check-label" for="privacyCheck">Accetto la privacy policy</label>
                    </div>
                    <button type="submit" class="btn btn-md btn-warning float-right">Invia</button>
                </form>
            </div>
        </div>
    </div>