<div class="d-flex flex-column justify-content-between p-1">
    <h5 class="text-secondary">Sfoglia le immagini</h5>
    <div class="image-set d-flex justify-content-start flex-wrap">
        {%- for img in page.gallery-light -%}

        <a class="image-link p-3" href="{{img}}" data-lightbox="set"><img class="light-image rounded" src="{{img}}" alt="" /></a>

        {%- endfor -%}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
</div>