 {% for post in site.posts %}
<div class="card col-md-4 p-2">
    <div class="card-body">
        <h4 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a><br>
            <small>Scritto il {{post.date | date_to_long_string}}</small></h4>
        <p class="card-text">{{ post.excerpt | strip_html | truncate: 150, " ..." }}</p>
        <a class="btn" href="{{ post.url }}">Leggi il post</a>
    </div>
</div>
{% endfor %}