        @import 'palette';
        @import 'slider';
        @import 'jekyll-layouts-includes';
        @import url('https://fonts.googleapis.com/css?family=Lato:300|Rufina:700');
        $font-stack-h: 'Lato';
        $font-stack-p: 'Rufina',
        sans-serif;
        body {
            color: $color-primary-4;
            font-family: $font-stack-p;
            font-size: 1.2rem;
        }
        
        .crop {
            width: 1200px;
            height: 150px;
            overflow: hidden;
        }
        
        a {
            color: $color-secondary-2-0;
        }
        
        @mixin linear-gradient($from,
        $to) {
            background: $to;
            background: -moz-linear-gradient(top, $from 0%, $to 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
            background: -webkit-linear-gradient(top, $from 0%, $to 100%);
            background: -o-linear-gradient(top, $from 0%, $to 100%);
            background: linear-gradient(to bottom, $from 0%, $to 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
            startColorstr=#{$from},
            endColorstr=#{$to})
        }
        
        .navbar {
            font-family: $font-stack-h;
            a.nav-link {
                color: #FFFFFF;
                font-weight: 600;
            }
        }
        
        .navbar-dark .navbar-nav .nav-link {
            color: #FFFFFF;
        }
        
        .navbar-dark {
            background-color: #0000004a;
            transition: background-color 1s;
        }
        
        .navbar-dark:hover {
            background-color: #00000087;
        }
        
        .shadow-dark {
            background-color: $color-secondary-1-0;
            transition: background-color 1s ease 0s;
        }
        
        .footer {
            background-color: $color-secondary-1-0;
            color: $color-primary-1;
            a {
                color: $color-primary-1
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $color-primary-2
            }
            /* Typo */
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: $font-stack-h;
                color: $color-secondary-1-4;
            }
        }
        
        .btn-floating-1 {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 999;
        }
        
        .googlemap {
            position: relative;
            padding-bottom: 75%;
            /* 4:3 ratio*/
            height: 0;
            overflow: hidden;
        }
        
        .googlemap iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        
        .light-image {
            width: 5rem;
            height: 5rem;
            overflow: hidden;
        }