<!doctype html>
<html lang="it">

<head>
    {% include head.html %}
</head>

<body>{% assign pageCat = page.category %} {% include header.html %}

    <main role="main" class="container">
        <header>
            <h3>{{page.title}}</h3>
        </header>
        {% for doc in site.it %} {% if doc.category == pageCat %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %} {% endfor %}
    </main>
    {% include footer.html %} {% include footer-scripts.html %}
</body>

</html>