<!doctype html>{% assign lang = page.collection %}
<html lang="{{lang}}">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <div class="container-fluid  mx-0 px-0 no-gutters">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5">{%- include carousel--content.html -%}</div>
            <div class="col-lg-7 p-5 h-100 d-flex flex-column">
                <h3>{{page.title}}</h3>
                {{ content }}
                <div class="justify-content-end">
                    {%- include gallery-light.html -%}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    <section>
        {% include contact-form.html %}
    </section>
    {% include footer-scripts.html %}
</body>

</html>