<!doctype html>{% assign lang = page.collection %}
<html lang="{{lang}}">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <header class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23558.655731340277!2d12.146043481596626!3d42.431311450892984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f2c22532578b9%3A0xf5ed5148d9e011c4!2sIl+Palazzetto+B%26B!5e0!3m2!1sit!2sit!4v1549386385220"
            height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </header>
    <main role="main" class="container p-5">
        <h3>{{page.title}}</h3>
        {{ content }} {% for tag in page.tags %} {tag} {% endfor %}
        <section>{% include gallery-loop.html %}</section>
    </main>
    <section>
        {% include contact-form.html %}
    </section>
    {% include footer.html %} {% include footer-scripts.html %}
</body>

</html>