<!doctype html> {% assign lang = page.collection %}
<html lang="{{lang}}">

<head>
    {% include head.html %}
</head>

<body>
    <div class="container">
        {% include header.html %}</div>
    <header class="home-layout">
        {% include carousel--home.html %}
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            {{content}}
            <section>{% include category--home-loop.html %}</section>
        </div>
    </section>
    {% include footer.html %} {% include footer-scripts.html %} {% include contact-form.html %}
</body>

</html>