<!doctype html>{% assign lang = page.collection %}
<html lang="{{lang}}">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <header>
        {% include google-maps--content.html %}
    </header>
    <main role="main" class="container">
        <h3>{{page.title}}</h3>
        {{ content }} {% for tag in page.tags %} {tag} {% endfor %}
        <section>{% include gallery-loop.html %}</section>
    </main>
    <section>
        {% include contact-form.html %}
    </section>
    {% include footer.html %} {% include footer-scripts.html %}
</body>

</html>