<!doctype html>
<html lang="it">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main role="main" class="container">
        <h3>{{page.title}}</h3>
        {{ content }} {% for tag in page.tags %} tag {% endfor %}
    </main>

    {% include footer.html %} {% include footer-scripts.html %}
</body>

</html>